// Lightbox modal styles

.modal {
  position: fixed;
  width: 70%;
  z-index: map-get($zindex, modal);

  margin: 0 auto;
  padding: 2rem 1rem;
  background: $bg-modal;
  border-radius: $default-corner * 2;
  box-shadow: 0 0 30px rgba($black, 0.5);

  .close {
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
  }

  .modal-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .image {
    text-align: center;

    h3 {
      letter-spacing: 1px;
      padding: 1rem 1rem 0;
      margin: 0;
      font-weight: normal;
      font-size: 1.5rem;
    }
  }

  .arrow {
    &.prev {
      text-align: right;
    }
  }
}
